<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proficient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Proficient.Properties.Settings>
            <setting name="switchenlarged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="workset" serializeAs="String">
                <value>M-Mechanical</value>
            </setting>
            <setting name="pipedist" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="defaulttxt" serializeAs="String">
                <value>3/32\" Arial</value>
            </setting>
            <setting name="defaultfriction" serializeAs="String">
                <value>0.08</value>
            </setting>
            <setting name="defaultvelocity" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="defaultdepthmin" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="defaultdepthmax" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="frictionprecision" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="appontop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appvertical" serializeAs="String">
                <value>False</value>
            </setting>
        </Proficient.Properties.Settings>
    </userSettings>
</configuration>